{% extends 'base.html' %}

{% block content %}
    <h5 align="center">Авторизация:</h5>
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for i in form %}
            <p align="center">{{ i.label }}</p>
            <p align="center">{{ i }}</p>
            <div class="text-danger" align="center">
                {% for error in form.error %}
                    <em><b>{{ error }}</b></em>
                {% endfor %}
<!--                {{ form.errors }}-->
            </div>
        {% endfor %}
        <br>
        <div align="center">
            <button class="btn btn-success" type="submit">Готово!</button>
        </div>
    </form>
{% endblock %}